<div class="search-form">
    <form method="POST" action="">
        <div class="mb-3 col-4">
            <label for="search-input" class="form-label">Nhập từ khoá</label>
            <input type="text" name="q" class="form-control" placeholder="Nhập từ khoá bạn cần tìm kiếm">
        </div>

        <div class="mb-3 col-4">
            <label for="gender-input">Từ khoá</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">-- Chọn giới tính --</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>